div, body{

  padding: 0%;
  margin: 0%;

}

#logo {
    
  position: fixed;

  width: 30%;
  height: 20%;
  
  background-image: url(logo.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;

  transition: 0.5s;
  
}

#blackzone{

  position: fixed;

  width: 100%;
  height: 20%;

  background-color: rgba(0, 0, 0, 0.811);
  background-repeat: no-repeat;
  background-position: center;

  top: 0;

  transition: 0.5s;

}

#home{

  position: fixed;

  width: 3%;
  height: 20%;

  margin-left: 95%;


  background-image: url(home.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

  opacity: 1;

  transition: 0.5s;

}

#imgprinc{

  width: 100%;
  height: 100%;

  margin: 0;

  background-image: url(backsite1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: 1s;

}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {

  height: 8%;
  width: 10%;

  margin: 0px 0 0 -40px;

  position: absolute;

  left: 50%;
  bottom: 5%;

  animation: ca3_fade_move_down 1s ease-in-out infinite;

}

@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-30px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,30px); opacity: 0; }
}